{% extends "template.html" %}

{% block content-header %}
    <h1>
        Data Set
        <small> New Data Set</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="{% url 'dataset_list' %}">Data Set</a></li>
        <li class="active">New</li>
    </ol>
{% endblock %}


{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="callout callout-{% if message.tags %}{{ message.tags }}{% endif %}">
                <h4>{{ message }}</h4>
            </div>
        {% endfor %}
    {% endif %}

    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Data Set</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form method="post" class="">
            {% csrf_token %}
            <div class="box-body form-horizontal">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="name" class="control-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                    </div>
                    <div class="col-sm-8">
                        <label for="name" class="control-label">Description</label>
                            <input type="text" class="form-control" id="description" name="description"
                                   placeholder="Description">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-4">
                        <label for="driver" class="control-label">Driver</label>
                        <select name="driver" id="driverselect" class="form-control" style="width: 100%;">
                                {% for driver in drivers%}
                                    <option value="{{ driver.0 }}"> {{ driver.1 }}</option>
                                {% endfor %}
                            </select>
                    </div>
                    <div class="col-sm-5">
                        <label for="server" class="control-label">Server</label>
                            <input type="text" class="form-control" id="server" name="server" placeholder="Server">
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="port" class="control-label">Port</label>
                            <input type="text" class="form-control" id="port" name="port" placeholder="Port">
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-sm-4">
                        <label for="database" class="control-label">Database</label>
                            <input type="text" class="form-control" id="database" name="database"
                                   placeholder="Database">
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="user" class="control-label">User</label>

                            <input type="text" class="form-control" id="user" name="user" placeholder="User">

                    </div>
                    <div class="col-sm-4">
                        <label for="password" class="control-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="Password">
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="pull-right">
                    <button disabled="disabled" type="button" class="btn btn-info">Test Connection</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>

{% endblock %}


{% block scripts %}
    <script type="text/javascript">
        $('#driverselect').select2({
            placeholder: "Select a Driver",
            allowClear: true
        });

    </script>
{% endblock %}