{% extends "template.html" %}

{% block content-header %}
    <h1>
        Data Table
        <small>View Data Table</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="{% url 'dataset_list' %}">Data Set</a></li>
        <li><a href="{% url 'dataset_view' datatable.data_set.id %}">{{ datatable.data_set.name }}</a></li>
        <li class="active">{{ datatable.name }}</li>
    </ol>
{% endblock %}


{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="callout callout-{% if message.tags %}{{ message.tags }}{% endif %}">
                <h4>{{ message }}</h4>
            </div>
        {% endfor %}
    {% endif %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Data Table</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <div class="box-body">
            <div class="form-group">
                <label>Data Set:</label>
                <p>{{ datatable.data_set.name }}</p>
            </div>
            <div class="form-group">
                <label>Name</label>
                <p>{{ datatable.name }}</p>
            </div>
            <div class="form-group">
                <label>Description</label>
                <p>{{ datatable.description }}</p>
            </div>
        </div>
        <!-- /.box-body -->
    </div>

    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Data Columns</h3>
            <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#newDataColumnModal"><i
                    class="fa fa-plus"></i> New Data Column
            </button>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding table-responsive">
            <table class="table">
                <tbody>
                <tr>
                    <th style="width: 10px">#</th>
                    <th style="width: 50px">Name</th>
                    <th style="width: 50px">Type</th>
                    <th style="width: 50px">Description</th>
                    <th>Constraints</th>
                </tr>
                {% for datacolumn in datacolumns %}
                    <tr>
                        <td>{{ datacolumn.id }}</td>
                        <td>{{ datacolumn.name }}</td>
                        <td>{{ datacolumn.data_type.name }}</td>
                        <td>{{ datacolumn.description }}</td>
                        <td>
                            <div class="box-body">
                                <ul class="todo-list">
                                    {% for constraint in datacolumn.datacolumnconstraint_set.all %}
                                        <li>
                                            <span class="text">{{ constraint.data_validation_constraint.name }}</span>
                                            {% if constraint.argument != '' %}
                                                <small>: {{ constraint.argument }}</small>
                                            {% endif %}
                                            <div class="tools">
                                                <div class="pull-right"></div>
                                                <button class="btn btn-xs" data-toggle="modal"
                                                   data-target="#saveDataColumnConstraintModal"
                                                   data-id="{{ constraint.id }}"
                                                   data-column-id="{{ constraint.data_column.id }}"
                                                   data-column-name="{{ constraint.data_column.name }}"
                                                   data-type-id="{{ constraint.data_column.data_type.id }}"
                                                   data-type-name="{{ constraint.data_column.data_type.name }}"
                                                   data-validation-constraint-id="{{ constraint.data_validation_constraint.id }}"
                                                   data-argument="{{ constraint.argument }}">
                                                    <i class="fa fa-edit"></i></button>
                                                <button class="btn btn-xs">
                                                <i class="fa fa-trash-o"></i></button>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="small-box-footer">
                                <button class="btn pull-right" data-toggle="modal"
                                        data-target="#saveDataColumnConstraintModal"
                                        data-column-id="{{ datacolumn.id }}"
                                        data-column-name="{{ datacolumn.name }}"
                                        data-type-id="{{ datacolumn.data_type.id }}"
                                        data-type-name="{{ datacolumn.data_type.name }}"><i
                                        class="fa fa-plus"></i> New Constraint
                                </button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
    </div>


    <div class="modal fade" id="newDataColumnModal" role="dialog">
        <form method="post" action="{% url 'datacolumn_new' %}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">New Data Column</h4>
                    </div>
                    <div class="modal-body">

                        {% csrf_token %}
                        <input type="hidden" name="datatable_id" value="{{ datatable.id }}">
                        <div class="form-group">
                            <label for="columnselect" class="">Column Name</label>
                            <!-- Style in Line to fiz a bug: https://github.com/harvesthq/chosen/issues/92-->
                            <select name="column" id="columnselect" class="form-control" style="width: 100%;">
                                {% for column in columns %}
                                    <option value="{{ column.0 }} {{ column.1 }}"> {{ column.0 }}
                                        - {{ column.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="description" class="">Column Description</label>
                            <input type="text" id="description" name="description" class="form-control">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </form>
    </div><!-- /.modal -->



    <div class="modal fade" id="saveDataColumnConstraintModal" role="dialog">
        <form method="post" action="{% url 'datacolumnconstraint_save' %}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Save Data Column Constraint</h4>
                    </div>
                    <div class="modal-body">

                        {% csrf_token %}
                        <input type="hidden" id="datacolumnconstraint_id" name="datacolumnconstraint_id" value="">
                        <input type="hidden" id="column_id" name="column_id" value="">
                        <div class="form-group">
                            <label for="column_name" class="">Column</label>
                            <p><span id="column_name"></span> - <span id="type_name"></span></p>
                        </div>
                        <div class="form-group">
                            <label for="validation_constraint_id" class="">Data Validation Constraint</label>
                            <!-- Style in Line to fiz a bug: https://github.com/harvesthq/chosen/issues/92-->
                            <select name="validation_constraint_id" id="validation_constraint_id" class="form-control"
                                    style="width: 100%;">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="argument" class="">Argument</label>
                            <input type="text" id="argument" name="argument" class="form-control">
                        </div>
                        <!--
                        <div class="form-group">
                            <label for="argument" class="">Schema</label>
                            <textarea id="schema" name="schema" class="form-control"></textarea>
                        </div>
                        -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </form>
    </div><!-- /.modal -->


{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $('#columnselect').select2({
            placeholder: "Select a Column",
            allowClear: true
        });


        $('#saveDataColumnConstraintModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            var argument = button.data('argument');
            var validation_constraint_id = button.data('validation-constraint-id');
            var column_id = button.data('column-id');
            var column_name = button.data('column-name');
            var type_id = button.data('type-id');
            var type_name = button.data('type-name');

            var dados = [];

            $.ajax({
                url: '/dataconstraintsfromtype/' + type_id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    $.each(JSON.parse(data), function (index, item) {
                        dados.push({id: item.pk, text: item.fields.name})
                    });

                    $('#validation_constraint_id').select2({
                        placeholder: "Select a Constraint",
                        allowClear: true,
                        data: dados,
                        initialSelection: validation_constraint_id
                    });
                }
            });


            var modal = $(this);
            modal.find('#datacolumnconstraint_id').val(id);
            modal.find('#column_id').val(column_id);
            modal.find('#column_name').text(column_name);
            modal.find('#type_name').text(type_name);
            modal.find('#argument').val(argument);
            //modal.find('#validation_constraint_id').val(validation_constraint_id);

        })
    </script>
{% endblock %}
